.productsCatalog{
    background-color: aliceblue;
    


}
.resim{
    width: 300px;
    height:300px;
    
}
.interaktifBox{
    width: 400px;
    height: 400px;
    border: 3px solid green;
    border-radius: 5px;

}

.staticBox{
    width: 30px;
    height: 400px;

}
